<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnDemand</key>
	<true/>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>precursor.ca</string>
		<key>creation_date</key>
		<date>2016-03-02T15:51:19Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>SelfService</string>
	<key>description</key>
	<string>This utility will flush your DNS cache without the need to restart your computer (10.10.4 or higher)</string>
	<key>developer</key>
	<string>Precursor Systems</string>
	<key>display_name</key>
	<string>PS DNS Flush Cache</string>
	<key>icon_name</key>
	<string>PS-dns.png</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.9.5</string>
	<key>name</key>
	<string>ps-dns_flush_cache</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>This will flush your DNS cache (without requiring you to restart your computer).</string>
		<key>alert_title</key>
		<string>DNS Flush Cache</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>OK</string>
	</dict>
	<key>preinstall_script</key>
	<string>#!/bin/bash
# Define variable(s)
os=$(/usr/bin/sw_vers -productVersion)

#Test OS version and use the required flushstring
if [[ $os = 10.10.0 ]]; then
     flushstring="discoveryutil udnsflushcaches"
     else
  if [[ $os = 10.10.1 ]]; then
 	flushstring="discoveryutil udnsflushcaches"
     else
  if [[ $os = 10.10.2 ]]; then
 	flushstring="discoveryutil udnsflushcaches"
     else
  if [[ $os = 10.10.3 ]]; then
 	flushstring="discoveryutil udnsflushcaches"
  else
  flushstring="killall -HUP mDNSResponder"
  fi
  fi
  fi
fi

#Do it
sudo $flushstring</string>
	<key>version</key>
	<string>1.0.1</string>
</dict>
</plist>
