<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnDemand</key>
	<true/>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>precursor.ca</string>
		<key>creation_date</key>
		<date>2016-10-09T16:12:21Z</date>
		<key>munki_version</key>
		<string>2.8</string>
		<key>os_version</key>
		<string>10.11.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>SelfService</string>
	<key>description</key>
	<string>Eject CD/DVD from the optical drive.</string>
	<key>developer</key>
	<string>Precursor Systems</string>
	<key>display_name</key>
	<string>PS Eject CD/DVD</string>
	<key>icon_name</key>
	<string>PS-eject.png</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.9.5</string>
	<key>name</key>
	<string>ps-eject_cd_dvd</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>This will eject any CD or DVD media from the optical drive. Click OK to begin. Otherwise, click Cancel to exit.</string>
		<key>alert_title</key>
		<string>Library Invisible</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>OK</string>
	</dict>
	<key>preinstall_script</key>
	<string>#!/bin/bash
#Eject the CD or DVD from optical drive
/usr/bin/drutil eject
</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
