<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OnDemand</key>
	<true/>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>precursor.ca</string>
		<key>creation_date</key>
		<date>2016-03-02T15:51:19Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>SelfService</string>
	<key>description</key>
	<string>This utility will rebuild your Apple Mail app's envelope database from scratch. This can take time. Use it when you Mail is missing items or appears to be corrupted. If Mail is just slow you might want to try the PS-Mail_Optimizer instaed.</string>
	<key>developer</key>
	<string>Precursor Systems</string>
	<key>display_name</key>
	<string>PS Mail Rebuilder</string>
	<key>icon_name</key>
	<string>PS-mail_rebuild.png</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.9.5</string>
	<key>name</key>
	<string>ps-mail_rebuilder</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>This will will Quit your Mail app and then rebuild your Apple Mail app's envelope database from scratch. Click "OK" to continue, or click "Cancel" to exit.</string>
		<key>alert_title</key>
		<string>Mail Optimizer</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>OK</string>
	</dict>
	<key>preinstall_script</key>
	<string>#!/bin/bash

# Apple Mail envelope rebuilding script
# Parts based on the Bash Script of Paul Galow https://github.com/pbihq/tools
# Which was based on the AppleScript by Brett Terpstra http://brettterpstra.com/2015/10/27/vacuuming-mail-dot-app-on-el-capitan/
# Start script
clear
echo "Apple Mail Database rebuild started..."

# Define variable(s)
os=$(sw_vers -productVersion)

# Close Apple Mail
AppRunning=$(pgrep Mail)
if [[ -n $AppRunning ]]; then
    osascript -e 'quit app "Mail"'
fi

# Check for OS X version
if [[ $os = 10.11.* ]]; then
	mailversion="V3"
else
	mailversion="V2"
fi

#Get User Name
userName=$(stat -f "%Su" /dev/console)

# Remove envelope db for resynchronization/rebuilding
/bin/rm -rf /Users/$userName/Library/Mail/$mailversion/MailData/Envelope\ Index*  &amp;&gt; /private/tmp/MailRebuilding.log
/bin/rm -rf /Users/$userName/Library/Mail/$mailversion/MailData/ExternalUpdates.storedata* &amp;&gt; /private/tmp/MailRebuilding.log
error=$(cat /private/tmp/MailRebuilding.log)

# Create success/error message
if [[ -z $error ]]; then
	error=0
	echo "Done."
else
	echo $error
fi

# Set exit code
if [[ "$error" -ne "0" ]]; then
	logger "Apple Mail Database Rebuild failed."
	exit 1
else
	logger "Apple Mail Database Rebuild finished."
	exit 0
fi</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
