<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0.1">
<dict>
	<key>OnDemand</key>
	<true/>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>precursor.ca</string>
		<key>creation_date</key>
		<date>2016-03-02T15:51:19Z</date>
		<key>munki_version</key>
		<string>2.5.1.2627</string>
		<key>os_version</key>
		<string>10.11.3</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>category</key>
	<string>SelfService</string>
	<key>description</key>
	<string>This utility will clear the user's font cache. A logout and back in is recommended.</string>
	<key>developer</key>
	<string>Precursor Systems</string>
	<key>display_name</key>
	<string>PS User Font Cache</string>
	<key>icon_name</key>
	<string>PS-fonts.png</string>
	<key>installer_type</key>
	<string>nopkg</string>
	<key>minimum_os_version</key>
	<string>10.9.5</string>
	<key>name</key>
	<string>ps-user_font_cache</string>
	<key>preinstall_alert</key>
	<dict>
		<key>alert_detail</key>
		<string>This will clear the active user's font cache which can help with font menu and display issues. It requires you to logo out and back in afterwards.</string>
		<key>alert_title</key>
		<string>User Font Cache Rebuild</string>
		<key>cancel_label</key>
		<string>Cancel</string>
		<key>ok_label</key>
		<string>OK</string>
	</dict>
	<key>preinstall_script</key>
	<string>#!/bin/sh
/usr/bin/atsutil databases -removeUser</string>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
